*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Alata';
    text-decoration: none;
}
.container-fluid{
    background-color: black;
}
html, body{
    height: screen;
    margin: 0;
}

#imagemLado{
    margin-top: 3vw;
    margin-left: 34vw;
}

#imagemLado img{
    width: 32vw;
}

#textoLado{
    margin-top: 1vw;
    font-size: 2.5vw;
    color: white;
    font-weight: 400;
}

#italico{
    margin-top: -1vw;
    font-size: 1.5vw;
    font-style: italic;
    color: white;
    font-weight: 400;
}

#criarConta{
    text-decoration: none;
}

#criarConta p{
    text-decoration: none;
    margin-top: 2vw;
    margin-bottom: 2.6vw;
    font-style: italic;
    color: #d8d8d8;
    font-size: 1vw;
}

#dados{
    margin-left: 34vw;
    text-align: left;
    width: 30vw;
    height: 3vw;
    background-color: #dedede;
    box-shadow: 0vw 0.3vw 0vw rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
}

#dados p{
    font-size: 1.5vw;
    line-height: 2;
    margin-left: 1vw;
    color: rgba(0, 0, 0, 0.75)
}

#dados2{
    margin-left: 34vw;
    text-align: left;
    width: 30vw;
    height: 3vw;
    margin-top: 2vw;
    background-color: #dedede;
    box-shadow: 0vw 0.3vw 0vw rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
}
#entrar{
    text-decoration: none;
}
#entrar div{
    background-color: rgb(46, 45, 45);
    width: 8vw;
    height: 3vw;
    margin-left: 44.7vw;
    margin-top: 2vw;
    text-align: center;
    border-radius: 0.5vw;
}
#entrar p{
    color: white;
    line-height: 2.8vw;
}
#dados2 p {
    font-size: 1.5vw;
    line-height: 2;
    margin-left: 1vw;
    color: rgba(0, 0, 0, 0.75)
}

